<%- include("header") %>
<h2>This is the about page</h2>
<p>adadasd sd a da sd asasdddddddd asda sdasd dsadasa ddasdas dasqdsf sfsdfs fsfs fsdf sd fsdf sdfsfs fs fsfs fs ffff</p>
<%- include("footer") %>